#textbox{
    width: 100%;
    height: 150px;
    border: 1px solid lightgray;
    font-size: 14px;
}

form{
    margin: 20px;
    color: gray;
}

.cardbackground{
    background-color:#ffffff;
    width:60%;
    border:1px solid #dddddd;
    padding:10px;
    margin: 20%;
    margin-top: 7%;
    text-align:left;
    height: 700px;
}

.container {
    width: 55%;
}
#name{
    font-weight: bold;
    background-color:#4aaaa5;
    color: white;
    border:1px solid #dddddd;
    position: relative;
    left: 6%;
    text-align: center;  
}

#jumbotron{
    position: relative;
    left: 6%;
    margin-top: -3%;
}

#contacttron{
    position: relative;
    left: 6%;
    margin-top: 4%;
}

span{
    position: fixed;
    left: 63%;
    top: 2%;
    font-family: Arial, 'Helvetica Neue', sans-serif;
}

#submitbutton{
    width: 80px;
    height:30px;
    background-color: #4aaaa5;
    color: white;
}

#hangman{
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    top: 70%;
    text-align: center;
    line-height: 200%;
    color: white;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    border: none;
}

#rpggame{
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    top: 70%;
    text-align: center;
    line-height: 200%;
    color: white;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    border: none;
}

#triviagame{
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    top: 70%;
    text-align: center;
    line-height: 200%;
    color: white;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    border: none;
}

#rutgersinfowidget{
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    top: 70%;
    text-align: center;
    line-height: 200%;
    color: white;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    border: none;
}

#rockpaperscissors{
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    top: 70%;
    text-align: center;
    line-height: 200%;
    color: white;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    border: none;
}

input{
    width: 100%;
    border: 1px solid lightgray;
    font-size: 14px;
}

footer{
    height: 6%;
    width: 100%;
    background-color: #666666;
    border-top: .1% solid #4aaaa5;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    font-size: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left:0;
}